<h2 mat-dialog-title>{{ productGroup.name }} Optionen | {{ productGroup.product.price | currency: 'EUR' }}</h2>
<span mat-dialog-content mat-caption *ngIf="productGroup.product.info">{{ productGroup.product.info }}</span>
<mat-dialog-content>
  <div class="input">
    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input matInput [(ngModel)]="productGroup.amount" type="number" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Notizen</mat-label>
      <textarea matInput maxlength="50" #text [(ngModel)]="productGroup.product.note"></textarea>
      <mat-hint align="end">{{text.value.length}}/50</mat-hint>
    </mat-form-field>
  </div>
  <div class="ingredients">
    <mat-checkbox matInput *ngFor="let ingredient of productGroup.product.ingredients"
      [(ngModel)]="ingredient.contained"
      (change)="ingredient.changed ? ingredient.changed = false : ingredient.changed = true"
      [style.textDecoration]="ingredient.contained ? '' : 'line-through'">{{ingredient.name}}</mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close>Abrechen</button>
  <button mat-button [hidden]="!(productGroup.custom || checkIfSame())"
    [mat-dialog-close]="{action: 'edit', productGroup: productGroup}">
    <mat-icon>edit</mat-icon>Bearbeiten
  </button>
  <button mat-button [hidden]="checkIfSame()" [mat-dialog-close]="{action: 'add', productGroup: productGroup}">
    <mat-icon>add</mat-icon>Hinzufügen
  </button>
</mat-dialog-actions>