.add-fab {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.printerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .printerCard {
    padding: 0.5rem;
    min-width: 18rem;

    .tag-box {
      max-width: 18rem;
    }
  }
}
