<div class="home-container">
    <div>
        <h1>{{ user }}</h1>
        Logout
    </div>
    <div>
        <h2>Offene Bestellungen:</h2>
        <div class="order-list">
            <mat-card *ngFor="let order of orderService.orders$ | async" (click)="jumpToOrder(order.table)">
                <mat-card-header>
                    <mat-card-title>Tisch: {{order.table}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <span *ngIf="order.printed">Ausgedruckt: <mat-icon>check</mat-icon></span>
                </mat-card-content>
                <mat-card-actions>
                    <div class="left">
                        <button mat-mini-fab (click)="removeOrder(order.table)" color="warn"><mat-icon>delete</mat-icon></button>
                    </div>
                    <div class="right">
                        <mat-icon>play_arrow</mat-icon>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>